################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SQL-APIConsumer/v15/Server/sqlite3/db.lock
/API_Consumer/SQL-APIConsumer.dbmdl
/API_Consumer/SQL-APIConsumer.jfm
