################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SQL-APIConsumer/v15/Server/sqlite3/db.lock
/API_Consumer/SQL-APIConsumer.dbmdl
/API_Consumer/SQL-APIConsumer.jfm
/API_Consumer/bin/Debug/SQL-APIConsumer_1.publish.sql
/API_Consumer/bin/Debug/SQL-APIConsumer_2.publish.sql
/API_Consumer/bin/Debug/SQL-APIConsumer.publish.sql
/API_Consumer/bin/Debug/DeploymentReport_6.txt
/API_Consumer/bin/Debug/DeploymentReport_4.txt
/API_Consumer/bin/Debug/DeploymentReport_5.txt
/API_Consumer/dll/
/API_Consumer/debug/
/API_Consumer/bin/
/API_Consumer/obj/
